<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Failure</title>
</head>
<body>
<div style="text-align: center">
<h2 class="mb-6"> Appointment Management Solution For Hospitals </h2>
<img src="static/building.jpg" class="img-rounded" alt="Hospital" height="200">
<h3 style="color:red">Failure</h3>

<span th:text="${message}" style="color: red"></span>
</div>
</body>
</html>